<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        
        <button class="add-button" onclick="window.location.href='/ric'">RICs</button>
        <h2>Available xApps</h2>
        <ul class="xapp-grid">
            <% xApps.forEach(app => { %>
                <li class="xapp-card" onclick="window.location.href='/xapp/<%= app.name %>/<%= app.version %>'">
                    <img src="data:image/png;base64,<%= app.icon %>" alt="<%= app.name %> icon" />
                    <h3><%= app.name %>:<%= app.version %></h3>
                </li>
            <% }) %>
        </ul>
        <button class="add-button" onclick="window.location.href='/add'">Add xApp Repo</button>
    </div>
</body>
</html>